<footer id="footer">
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <p class="heart">Made with <span class="fa fa-heart fa-x animated pulse"></span> 
                    &COPY; Copyright 2020 Meshack Kimwele | All Rights Reserved</p>

                <p class="copyright"> Feel free to email me, or visit my Pages.</p>
                <ul class="social-links">
                    <li><a href="https://www.linkedin.com/in/meshack-kitonga-kimwele-94336a121/" class="wow fadeInUp" data-wow-delay=".1s" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/kimxons" class="wow fadeInUp" data-wow-delay=".2s" target="_blank"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://twitter.com/mishaelkimxons" class="wow fadeInUp" data-wow-delay=".2s" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="mailto:info.meshackkimwele@gmil.com" class="wow fadeInUp" data-wow-delay=".4s"><i class="fa fa-envelope"></i></a></li>
                </ul>	
            </div>

        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</footer>